<div class="container">
  <div class="btn-group">
    <%= link_to 'Новый месяц', new_counter_path, :class => "btn btn-primary" %>
  </div>

  <div class="pull-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span id="current_year"><%= params[:year] %></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <%= render partial: 'year', collection: Counter.years %>
      </ul>
    </div>

  </div>
</div>


