
<div class="page-header">
  <h1>Показания счетчиков</h1>
</div>

<%= render 'chart' %>

<%= render 'nav_bar' %>

<div id="counters_table" class="container">
</div>


<!--%= render 'counters_table' %-->


<% javascript_tag do %>
<% end %>
